<script>
    window.__EXERCISES__ = {
        serverIsAdmin: {{ is_admin | tojson }},
        isEmbed: {{ embed | tojson }}
    };
</script>
<script src="/static/js/exercises/consts.js"></script>
<script src="/static/js/exercises/utils.js"></script>
<script src="/static/js/exercises/state.js"></script>
<script src="/static/js/exercises/render.js"></script>
<script src="/static/js/exercises/filters.js"></script>
<script src="/static/js/exercises/modals.js"></script>
<script src="/static/js/exercises/api.js"></script>
<script src="/static/js/exercises/actions.js"></script>
<script src="/static/js/exercises/bootstrap.js"></script>
