.env
erDiagram_test.md
test.md
test2.md
/test_iX
/ai_fitness_agentic_mongo_v2
/hello_world
.env.example
CON
temp_block1.txt
temp_block2.txt
temp_tail.txt
dash_copy.txt
app_copy.txt
app_before_hist.txt
