# === Requerimientos Synapse Fit ===
Flask==3.0.3
pymongo==4.8.0
python-dotenv==1.0.1
gunicorn==21.2.0
dnspython==2.6.1
certifi==2024.8.30

# (Opcional pero recomendado para compatibilidad)
Werkzeug==3.0.3
Jinja2==3.1.4
MarkupSafe==2.1.5
itsdangerous==2.2.0

APScheduler==3.10.4
pydantic==2.9.2
PyJWT==2.9.0
openai==1.51.2
certifi==2024.8.30
cloudinary==1.41.0
redis==5.0.8
pywebpush==1.14.0
cryptography==41.0.7
playwright==1.49.0
pypdf==4.2.0
Pillow==10.4.0
psutil==7.1.1
Flask-Limiter==3.5.0
