{% extends 'layout.html' %}

{% block title %}Asignar Rutinas | Synapse Fit{% endblock %}

{% block sidebar %}
{% include 'components/sidebar_admin.html' %}
{% endblock %}

{% block head %}
<link href="/static/css/assign/assign_v2.css" rel="stylesheet">
<link href="/static/css/assigned_routines.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="assign-page">
    {% include 'partials/assign_v2/header.html' %}

    <div class="assign-layout">
        {% include 'partials/assign_v2/user_selector.html' %}
        {% include 'partials/assign_v2/routines_panel.html' %}
    </div>

    {% include 'partials/assign_v2/toast.html' %}

    <!-- Routine Detail Modal -->
    <div class="modal fade" id="routineModal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
            <div class="modal-content bg-dark text-white border-secondary">
                <div class="modal-header border-secondary">
                    <h5 class="modal-title" id="routineModalTitle">Detalle de Rutina</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body custom-scrollbar" id="routineModalBody">
                    <!-- Dynamic Content -->
                </div>
                <div class="modal-footer border-secondary">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <!-- Optional: Add Assign button here if valuable, but actions are usually on the card -->
                </div>
            </div>
        </div>
    </div>

    <!-- Video Modal -->
    <div class="modal fade" id="videoModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content bg-black">
                <div class="modal-body p-0">
                    <div class="ratio ratio-16x9">
                        <iframe id="videoFrame" src="" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block page_scripts %}
{% include 'partials/assign_v2/scripts.html' %}
{% endblock %}