<!-- DEPENDENCIAS (CDN) -->
<script crossorigin src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>
<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
<script src="/static/js/workout_animations.js"></script>

<script>
    window.__RUNNER__ = {
        routine: {{ routine | tojson }},
        currentUserName: {{ current_user_name | default('', true) | tojson }},
        currentUserId: {{ current_user_id | default('', true) | tojson }},
        restoredState: {{ restored_state | tojson }}
    };

    window.initialRoutine = window.__RUNNER__.routine;
    window.currentUserName = window.__RUNNER__.currentUserName;
    window.currentUserId = window.__RUNNER__.currentUserId;
    window.restoredState = window.__RUNNER__.restoredState;
</script>

<script src="/static/js/runner/bootstrap.js"></script>

<!-- Arquitectura modular -->
<script src="/static/js/runner/namespace.js"></script>
<script src="/static/js/runner/utils.js"></script>
<script src="/static/js/runner/constants.js"></script>
<script src="/static/js/runner/logic.js"></script>
<script type="text/babel" src="/static/js/runner/hooks/useOverlayBus.js"></script>
<script type="text/babel" src="/static/js/runner/hooks/useNotifications.js"></script>
<script type="text/babel" src="/static/js/runner/hooks/useWorkoutNotifications.js"></script>
<script type="text/babel" src="/static/js/runner/hooks/useWorkoutTimer.js"></script>
<script type="text/babel" src="/static/js/runner/hooks/useWorkoutPersistence.js"></script>
<script type="text/babel" src="/static/js/runner/hooks/useWorkoutSync.js"></script>
<script type="text/babel" src="/static/js/runner/hooks/useWorkoutQueue.js"></script>
<script type="text/babel" src="/static/js/runner/hooks/useWorkoutSteps.js"></script>
<script type="text/babel" src="/static/js/runner/hooks/useWorkoutLog.js"></script>
<script type="text/babel" src="/static/js/runner/hooks/useWorkoutModals.js"></script>
<script type="text/babel" src="/static/js/runner/hooks/useWorkoutSubstitutions.js"></script>
<script type="text/babel" src="/static/js/runner/hooks/useWorkoutPending.js"></script>
<script type="text/babel" src="/static/js/runner/hooks/useWorkoutTimeTargets.js"></script>
<script type="text/babel" src="/static/js/runner/hooks/useWorkout.js"></script>
<script type="text/babel" src="/static/js/runner/components/MessageBar.js"></script>
<script type="text/babel" src="/static/js/runner/components/ConfirmModal.js"></script>
<script type="text/babel" src="/static/js/runner/components/RPEHelpModal.js"></script>
<script type="text/babel" src="/static/js/runner/components/PlateCalculatorModal.js"></script>
<script type="text/babel" src="/static/js/runner/components/SubstitutesModal.js"></script>
<script type="text/babel" src="/static/js/runner/components/RMCalculatorModal.js"></script>
<script type="text/babel" src="/static/js/runner/components/RoutineDetails.js"></script>
<script type="text/babel" src="/static/js/runner/components/PreStart.js"></script>
<script type="text/babel" src="/static/js/runner/components/TimerControls.js"></script>
<script type="text/babel" src="/static/js/runner/components/InputControls.js"></script>
<script type="text/babel" src="/static/js/runner/components/RestOverlay.js"></script>
<script type="text/babel" src="/static/js/runner/components/CountdownTimer.js"></script>
<script type="text/babel" src="/static/js/runner/components/ActiveExercise.js"></script>
<script type="text/babel" src="/static/js/runner/components/NextUpBar.js"></script>
<script type="text/babel" src="/static/js/runner/components/Header.js"></script>
<script type="text/babel" src="/static/js/runner/components/PendingPanel.js"></script>
<script type="text/babel" src="/static/js/runner/components/NavigationWrapper.js"></script>
<script type="text/babel" src="/static/js/runner/components/GlitchOverlay.js"></script>
<script type="text/babel" src="/static/js/runner/components/PauseOverlay.js"></script>
<script type="text/babel" src="/static/js/runner/components/TextRevealOverlay.js"></script>
<script type="text/babel" src="/static/js/runner/components/CountdownOverlay.js"></script>
<script type="text/babel" src="/static/js/runner/components/BreathingOverlay.js"></script>
<script type="text/babel" src="/static/js/runner/components/EnduranceTimerOverlay.js"></script>
<script type="text/babel" src="/static/js/runner/components/TempoOverlay.js"></script>
<script type="text/babel" src="/static/js/runner/components/PulseOverlay.js"></script>
<script type="text/babel" src="/static/js/runner/components/FlexOverlay.js"></script>
<script type="text/babel" src="/static/js/runner/components/ThunderOverlay.js"></script>
<script type="text/babel" src="/static/js/runner/components/VictoryOverlay.js"></script>
<script type="text/babel" src="/static/js/runner/components/ImpactOverlay.js"></script>
<script type="text/babel" src="/static/js/runner/components/FireOverlay.js"></script>
<script type="text/babel" src="/static/js/runner/components/GoalOverlay.js"></script>
<script type="text/babel" src="/static/js/runner/components/ZenOverlay.js"></script>
<script type="text/babel" src="/static/js/runner/components/NutritionOverlay.js"></script>
<script type="text/babel" src="/static/js/runner/components/RoutinePreparationOverlay.js"></script>
<script type="text/babel" src="/static/js/runner/components/SadOverlay.js"></script>
<script type="text/babel" src="/static/js/runner/components/SnowOverlay.js"></script>
<script type="text/babel" src="/static/js/runner/components/StarsOverlay.js"></script>
<script type="text/babel" src="/static/js/runner/components/EmojiRainOverlay.js"></script>
<script type="text/babel" src="/static/js/runner/components/RealisticOverlay.js"></script>
<script type="text/babel" src="/static/js/runner/components/BasicConfettiOverlay.js"></script>
<script type="text/babel" src="/static/js/runner/components/PrideOverlay.js"></script>
<script type="text/babel" src="/static/js/runner/components/SchoolPrideOverlay.js"></script>
<script type="text/babel" src="/static/js/runner/components/FireworksOverlay.js"></script>
<script type="text/babel" src="/static/js/runner/components/MegaBurstOverlay.js"></script>
<script type="text/babel" src="/static/js/runner/components/FountainOverlay.js"></script>
<script type="text/babel" src="/static/js/runner/components/SvgSuccessOverlay.js"></script>
<script type="text/babel" src="/static/js/runner/components/VideoModal.js"></script>
<script type="text/babel" src="/static/js/runner/components/App.js"></script>
<script src="/static/js/runner/entry.js"></script>
